body {
  font-family: "Orbitron", sans-serif;
  background-image: url(https://media.giphy.com/media/Q9aBxHn9fTqKs/giphy.gif);
  background-size: cover;
}

output {
  color: #fff;
  font-weight: 600;
  font-size: 1.7em;
  text-align: center;
  display: inline-block;
  padding: 15px;
  border: 2px solid rgb(57, 243, 57);
}

p {
  font-size: 30px;
  font-weight: bold;
  color: white;
}


.clear-button { 
  font-family: "Orbitron", sans-serif;
  font-size: 20px;
  background: red;
  border: 2px solid black;
}

.clear-button:hover {
  background: rgb(255, 78, 78);
  color: rgb(216, 198, 94);
}

input,
option,
select {
  font-family: "Orbitron", sans-serif;
  font-size: 20px;
}

input,
.clear-button,
select {
  width: 50px;
  height: 50px;
}

input {
  text-align: center;
}

.clear-button,
select {
  width: 130px;
}

.submission {
  width: 130px;
  background: green;
  border: 2px solid black;
}

.submission:hover {
  background: rgb(30, 219, 30);
  color: rgb(92, 78, 1);
}

.operations {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-area: a;
  height: 500px;
}

.operation {
  display: flex;
  flex-wrap: nowrap;
}

.operations__options {
  background: blue;
  border: 2px solid black;
}

.operations__options:hover {
  background: rgb(66, 137, 243);
  color: rgb(216, 198, 94);
}

.footer_message {
  width: 100%;
  display: flex;
  justify-content: center;
}

#operation {
  max-height: 60px;
}
/* Helpers */